.H1-Header,.H2-header
{
	font-family: cabin-n7, sans-serif;
}

.Logo,.menu-buttons
{
	font-family: comfortaa-n3, sans-serif;
}

.Paragraph,.page-headings
{
	font-family: cabin-n4, sans-serif;
}

#u9400-6
{
	font-family: pt-sans-n4, sans-serif;
}

#u9398-6
{
	font-family: pt-sans-n4, sans-serif;
}

#u9201-6,#u9297-20,#u9293-16,#u9289-10
{
	font-family: pt-sans-n4, sans-serif;
}

#u9400-6:hover p,#u9400-6:hover span,#u9398-6:hover p,#u9398-6:hover span,#u9289-10:hover p,#u2177-3
{
	font-family: lato-n4, sans-serif;
}

#u450-4
{
	font-family: lato-n7, sans-serif;
}

#u9344-4,#u10337-4,#u10339-4,#u10341-4,#u10347-6,#u10348-4,#u10349-4,#u447-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u458-4
{
	font-family: lato-n7, sans-serif;
}

#u459-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u443-4
{
	font-family: lato-n7, sans-serif;
}

#u445-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u9355-4
{
	font-family: lato-n7, sans-serif;
}

#u9354-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu446_input,#widgetu446_prompt,#widgetu456_input,#widgetu456_prompt,#widgetu441_input,#widgetu441_prompt,#widgetu9352_input,#widgetu9352_prompt
{
	font-family: pt-sans, sans-serif;
}

