#u11620:active
{
	background: url("../../images/u11620-m.png") no-repeat 0px 0px;
}

#u11622:active
{
	background: url("../../images/u11622-m.png") no-repeat 0px 0px;
}

.version.about_us /* version checker */
{
	color: #0000FE;
	background-color: #7D9711;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u11618
{
	z-index: 9;
	height: 75px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #2B3135;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u11618-bw
{
	z-index: 9;
	height: 75px;
}

#u11619
{
	z-index: 12;
	height: 33px;
	width: 86px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 16px;
	background: url("../../images/u11619.png") no-repeat 0px 0px;
}

#u11619:hover
{
	background: url("../../images/u11619-r.png") no-repeat 0px 0px;
}

#u11619:active
{
	background: url("../../images/u11619-m.png") no-repeat 0px 0px;
}

#u11620
{
	z-index: 16;
	height: 33px;
	width: 73px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 153px;
	background: url("../../images/u11620.png") no-repeat 0px 0px;
}

#u11621
{
	z-index: 19;
	height: 33px;
	width: 108px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 136px;
	background: url("../../images/u11621.png") no-repeat 0px 0px;
}

#u11621:hover
{
	background: url("../../images/u11621-r.png") no-repeat 0px 0px;
}

#u11621:active
{
	background: url("../../images/u11621-m.png") no-repeat 0px 0px;
}

#u11622
{
	z-index: 23;
	height: 33px;
	width: 92px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 273px;
	background: url("../../images/u11622.png") no-repeat 0px 0px;
}

#page_position_content,#pu11618,#pu11625
{
	width: 0.01px;
}

#u11625
{
	z-index: 2;
	min-height: 417px;
	padding-bottom: 156px;
	background: transparent url("../../images/background.jpg") no-repeat center center;
	background-size: cover;
}

#u11614
{
	z-index: 3;
	width: 290px;
	background-color: transparent;
	opacity: 0.31;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=31)";
	filter: alpha(opacity=31);
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 44px;
}

#u11625-bw
{
	z-index: 2;
	min-height: 417px;
}

#u11616-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 15px;
}

#u11623
{
	z-index: 10;
	height: 66px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #2B3135;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u11623-bw
{
	z-index: 10;
	margin-top: 501px;
	height: 66px;
}

#aboute
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u11847-7
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 74px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

