.version.contact /* version checker */
{
	color: #000007;
	background-color: #A17C57;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #F0F3F4;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u8364-3
{
	z-index: 110;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: -349px;
}

#ppaccordionu7905
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#paccordionu7905
{
	width: 0.01px;
}

#u7919
{
	z-index: 3;
}

#u7920-4
{
	z-index: 4;
	min-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7920-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7920-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7920-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7921
{
	z-index: 8;
	padding-bottom: 12px;
}

#u7922
{
	z-index: 9;
	width: 337px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 22px;
}

#u7926-4
{
	z-index: 10;
	width: 55px;
	min-height: 16px;
	margin-right: -10000px;
}

#u7926-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u7926-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u7923-4
{
	z-index: 14;
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	left: 100px;
}

#u7923-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7927-4
{
	z-index: 18;
	width: 35px;
	min-height: 16px;
	margin-right: -10000px;
	left: 201px;
}

#u7927-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u7924-4
{
	z-index: 22;
	width: 45px;
	min-height: 14px;
	margin-right: -10000px;
	left: 291px;
}

#u7924-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#accordionu7905,#accordionu7905-bw
{
	z-index: 2;
}

#u10359-4
{
	z-index: 35;
	width: 60px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#pu10559
{
	width: 0.01px;
	margin-top: 1px;
}

#u10559
{
	z-index: 39;
	min-height: 494.5000000000007px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding: 20px 15px 64.49999999999932px 13px;
	background: #FFFFFF url("../../images/background2.jpg") no-repeat center center;
	background-size: cover;
}

#u10564
{
	z-index: 113;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10566-4
{
	z-index: 114;
	width: 350px;
	min-height: 49px;
	background-color: transparent;
	font-size: 33px;
	text-align: center;
	letter-spacing: -1px;
	color: #FFFFFF;
	font-family: geostar, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10565-5
{
	z-index: 118;
	width: 346px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 1;
	text-align: center;
	font-size: 27px;
	letter-spacing: -1px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u10565-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u10565-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1;
}

#u10565
{
	font-size: 15px;
	letter-spacing: 11px;
}

#u8309-13
{
	z-index: 40;
	width: 350px;
	min-height: 100px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #5C6971;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 316px;
	position: relative;
}

#u8309-13:hover
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 100px;
	width: 350px;
	margin: 316px 0px 0px 1px;
}

#u8309-13:hover p
{
	color: #465A73;
	visibility: inherit;
}

#u10559-bw
{
	z-index: 39;
	min-height: 494.5000000000007px;
	margin-bottom: -1px;
}

#widgetu8319
{
	z-index: 53;
	width: 0.01px;
	height: 273px;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 20px;
}

#widgetu8322
{
	z-index: 54;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu8322.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8323-4
{
	z-index: 55;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	text-align: left;
	color: #6B6B6B;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u8324-4
{
	z-index: 59;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu8322.non-empty-st #u8324-4
{
	border-color: #83C9BF;
	background-color: #FFFFFF;
}

#widgetu8322:hover #u8324-4
{
	border-color: #465A73;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8322.non-empty-st #u8324-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8322:hover #u8324-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8347
{
	z-index: 63;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu8347.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u8348-4
{
	z-index: 64;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	text-align: left;
	color: #6B6B6B;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu8347.fld-err-st #u8348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u8349-4
{
	z-index: 68;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu8347.non-empty-st #u8349-4
{
	border-color: #83C9BF;
	background-color: #FFFFFF;
}

#widgetu8347:hover #u8349-4
{
	border-color: #465A73;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8322.fld-err-st #u8324-4,#widgetu8347.fld-err-st #u8349-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8347.non-empty-st #u8349-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8347:hover #u8349-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8322_input,#widgetu8322_prompt,#widgetu8347_input,#widgetu8347_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: pt-sans, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u8327-4
{
	z-index: 72;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu8319.frm-sub-st #u8327-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8320-4
{
	z-index: 76;
	width: 200px;
	min-height: 29px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu8319.frm-subm-err-st #u8320-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 33px;
}

#widgetu8319.frm-subm-err-st #u8320-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8352-4
{
	z-index: 80;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu8319.frm-sub-st #u8327-4,#widgetu8319.frm-subm-ok-st #u8352-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu8319.frm-subm-ok-st #u8352-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8321-17
{
	z-index: 84;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 105px;
	background: url("../../images/u8321-17.png") no-repeat 0px 0px;
}

#u8321-17:hover
{
	background: url("../../images/u8321-17-r.png") no-repeat 0px 0px;
}

#u8321-17:active
{
	background: url("../../images/u8321-17-m.png") no-repeat 0px 0px;
}

#widgetu8319.frm-sub-st #u8321-17
{
	background: url("../../images/u8321-17-fs.png") no-repeat 0px 0px;
}

#widgetu8328
{
	z-index: 101;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu8328.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u8329-4
{
	z-index: 102;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	text-align: left;
	color: #6B6B6B;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu8322.fld-err-st #u8323-4,#widgetu8328.fld-err-st #u8329-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu8322.fld-err-st #u8323-4 p,#widgetu8322.fld-err-st #u8323-4 span,#widgetu8347.fld-err-st #u8348-4 p,#widgetu8347.fld-err-st #u8348-4 span,#widgetu8328.fld-err-st #u8329-4 p,#widgetu8328.fld-err-st #u8329-4 span
{
	color: #D7244C;
}

#u8331-4
{
	z-index: 106;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu8328.non-empty-st #u8331-4
{
	border-color: #83C9BF;
	background-color: #FFFFFF;
}

#widgetu8328:hover #u8331-4
{
	border-color: #465A73;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8328.fld-err-st #u8331-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8328.non-empty-st #u8331-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8328:hover #u8331-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8322.fld-err-st #u8324-4 *,#widgetu8347.fld-err-st #u8349-4 *,#widgetu8328.fld-err-st #u8331-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu8328_input,#widgetu8328_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: pt-sans, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu8322:hover #widgetu8322_input,#widgetu8322.fld-err-st #widgetu8322_input,#widgetu8322:hover #widgetu8322_prompt,#widgetu8322.fld-err-st #widgetu8322_prompt,#widgetu8347:hover #widgetu8347_input,#widgetu8347.fld-err-st #widgetu8347_input,#widgetu8347:hover #widgetu8347_prompt,#widgetu8347.fld-err-st #widgetu8347_prompt,#widgetu8328:hover #widgetu8328_input,#widgetu8328.fld-err-st #widgetu8328_input,#widgetu8328:hover #widgetu8328_prompt,#widgetu8328.fld-err-st #widgetu8328_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu8322.non-empty-st #widgetu8322_prompt,#widgetu8322.focus-st #widgetu8322_prompt,#widgetu8347.non-empty-st #widgetu8347_prompt,#widgetu8347.focus-st #widgetu8347_prompt,#widgetu8328.non-empty-st #widgetu8328_prompt,#widgetu8328.focus-st #widgetu8328_prompt
{
	visibility: hidden;
}

#pu7958
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 671px;
}

#u7958
{
	z-index: 26;
	min-height: 36px;
	padding-bottom: 35px;
}

#u7960
{
	z-index: 31;
	width: 24px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 160px;
}

#u7962
{
	z-index: 33;
	width: 24px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 196px;
}

#u7960:hover,#u7962:hover
{
	width: 24px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u7958-bw
{
	z-index: 26;
	min-height: 36px;
}

#u7959-4
{
	z-index: 27;
	min-height: 17px;
}

#u7959-4-bw
{
	z-index: 27;
	min-height: 17px;
	margin-top: 45px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -671px;
}

