.H1-Header,.H2-header
{
	font-family: cabin-n7, sans-serif;
}

.Logo,.menu-buttons
{
	font-family: comfortaa-n3, sans-serif;
}

.Paragraph,.page-headings
{
	font-family: cabin-n4, sans-serif;
}

#u7920-4.AccordionPanelTabOpen p,#u7920-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u7926-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u7923-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u7927-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u7924-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10359-4
{
	font-family: geostar-n4, sans-serif;
}

#u7959-4
{
	font-family: lato-n4, sans-serif;
}

#u7981-4,#u7982-4,#u8024-4,#u8025-4,#u8038-4,#u8039-4,#u8056-7
{
	font-family: pt-sans-n4, sans-serif;
}

#u8057-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u8058-7
{
	font-family: pt-sans-n4, sans-serif;
}

