.H1-Header,.H2-header
{
	font-family: cabin-n7, sans-serif;
}

.Logo,.menu-buttons
{
	font-family: comfortaa-n3, sans-serif;
}

.Paragraph,.page-headings
{
	font-family: cabin-n4, sans-serif;
}

#u7920-4.AccordionPanelTabOpen p,#u7920-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u7926-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u7923-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u7927-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u7924-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10359-4
{
	font-family: geostar-n4, sans-serif;
}

#u7959-4
{
	font-family: lato-n4, sans-serif;
}

#u10566-4
{
	font-family: geostar-n4, sans-serif;
}

#u10565-5,#u8309-13
{
	font-family: pt-sans-n4, sans-serif;
}

#u8323-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8324-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8348-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8349-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8329-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8331-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu8322_input,#widgetu8322_prompt,#widgetu8347_input,#widgetu8347_prompt,#widgetu8328_input,#widgetu8328_prompt
{
	font-family: pt-sans, sans-serif;
}

