#u11605:active
{
	background: url("../../images/u11605-m.png") no-repeat 0px 0px;
}

#u11603:active #u11603_states
{
	background: url("../../images/u11603_states-m.png") no-repeat 0px 0px;
}

.version.index /* version checker */
{
	color: #0000F8;
	background-color: #28B967;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u11606
{
	z-index: 2;
	min-height: 376px;
	padding-bottom: 45px;
	background: transparent url("../../images/background.jpg") no-repeat center center;
	background-size: cover;
}

#u11596-7
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 15px;
}

#u11606-bw
{
	z-index: 2;
	min-height: 376px;
	margin-top: 74px;
}

#u11597
{
	z-index: 10;
	width: 203px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 88px;
}

#u11601
{
	z-index: 12;
	height: 75px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #2B3135;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u11601-bw
{
	z-index: 12;
	margin-top: -1px;
	height: 75px;
}

#u11613
{
	z-index: 13;
	height: 75px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #2B3135;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u11613-bw
{
	z-index: 13;
	margin-top: 495px;
	height: 75px;
}

#u11602
{
	z-index: 15;
	position: relative;
	width: 86px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 16px;
}

#u11602_states
{
	height: 33px;
	width: 86px;
	vertical-align: top;
	background: url("../../images/u11602_states.png") no-repeat 0px 0px;
}

#u11602:hover #u11602_states
{
	background: url("../../images/u11602_states-r.png") no-repeat 0px 0px;
}

#u11602:active #u11602_states
{
	background: url("../../images/u11602_states-m.png") no-repeat 0px 0px;
}

#u11603
{
	z-index: 19;
	position: relative;
	width: 73px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 153px;
}

#u11603_states
{
	height: 33px;
	width: 73px;
	vertical-align: top;
	background: url("../../images/u11603_states.png") no-repeat 0px 0px;
}

#u11604
{
	z-index: 22;
	position: relative;
	width: 108px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 136px;
}

#u11604_states
{
	height: 33px;
	width: 108px;
	vertical-align: top;
	background: url("../../images/u11604_states.png") no-repeat 0px 0px;
}

#u11604:hover #u11604_states
{
	background: url("../../images/u11604_states-r.png") no-repeat 0px 0px;
}

#u11604:active #u11604_states
{
	background: url("../../images/u11604_states-m.png") no-repeat 0px 0px;
}

#u11605
{
	z-index: 26;
	height: 33px;
	width: 92px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 273px;
	background: url("../../images/u11605.png") no-repeat 0px 0px;
}

#header
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 74px;
}

#u11873
{
	z-index: 29;
	min-height: 345px;
	background-color: #FFFFFF;
	padding-bottom: 226px;
}

#u11874
{
	z-index: 30;
	width: 351px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 15px;
}

#u11873-bw
{
	z-index: 29;
	min-height: 345px;
	margin-top: -1px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

