.version.index /* version checker */
{
	color: #0000F2;
	background-color: #2C4793;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #F0F3F4;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u7919
{
	z-index: 3;
}

#u7920-4
{
	z-index: 4;
	min-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7920-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7920-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7920-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7921
{
	z-index: 8;
	padding-bottom: 12px;
}

#u7922
{
	z-index: 9;
	width: 337px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 22px;
}

#u7926-4
{
	z-index: 10;
	width: 55px;
	min-height: 16px;
	margin-right: -10000px;
}

#u7926-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u7926-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u7923-4
{
	z-index: 14;
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	left: 100px;
}

#u7923-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7927-4
{
	z-index: 18;
	width: 35px;
	min-height: 16px;
	margin-right: -10000px;
	left: 201px;
}

#u7927-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u7924-4
{
	z-index: 22;
	width: 45px;
	min-height: 14px;
	margin-right: -10000px;
	left: 291px;
}

#u7924-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#accordionu7905,#accordionu7905-bw
{
	z-index: 2;
}

#u10359-4
{
	z-index: 35;
	width: 60px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#pu10377
{
	width: 0.01px;
	margin-top: 1px;
}

#u10377
{
	z-index: 39;
	height: 531px;
	border-style: none;
	border-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	background: #FFFFFF url("../../images/background.jpg") no-repeat center center;
	background-size: cover;
}

#u10377-bw
{
	z-index: 39;
	height: 531px;
}

#u10384
{
	z-index: 40;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 37px;
}

#u10390
{
	z-index: 41;
	width: 170px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 68px;
}

#u10385
{
	z-index: 42;
	width: 175px;
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 61px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u10386
{
	z-index: 43;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: -65px;
}

#u10387-4
{
	z-index: 44;
	width: 305px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing: 12px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u10387-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u10387-4:active p
{
	letter-spacing: 14px;
}

#u10388
{
	z-index: 48;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
}

#u10389-4
{
	z-index: 49;
	width: 305px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	font-size: 41px;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-align: center;
	font-family: geostar, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u10387-4:active,#u10389-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u10389-4:active
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u10389-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#page_position_content,#paccordionu7905,#pu7958
{
	width: 0.01px;
}

#u7958
{
	z-index: 26;
	min-height: 36px;
	padding-bottom: 35px;
}

#u7960
{
	z-index: 31;
	width: 24px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 160px;
}

#u7962
{
	z-index: 33;
	width: 24px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 196px;
}

#u7960:hover,#u7962:hover
{
	width: 24px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u7958-bw
{
	z-index: 26;
	min-height: 36px;
}

#u7959-4
{
	z-index: 27;
	min-height: 17px;
}

#u7959-4-bw
{
	z-index: 27;
	min-height: 17px;
	margin-top: 45px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

