#u11846:active
{
	background: url("../../images/u11846-m.png") no-repeat 0px 0px;
}

#u11844:active
{
	background: url("../../images/u11844-m.png") no-repeat 0px 0px;
}

.version.service /* version checker */
{
	color: #00001A;
	background-color: #63E8C3;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 565px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 5px;
}

#u10481
{
	z-index: 2;
	height: 563px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	background: #FFFFFF url("../../images/background2.jpg") no-repeat center center;
	background-size: cover;
}

#u10481-bw
{
	z-index: 2;
	height: 565px;
}

#u11736
{
	z-index: 3;
	height: 75px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #2B3135;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u11736-bw
{
	z-index: 3;
	height: 75px;
}

#u11737
{
	z-index: 4;
	height: 75px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #2B3135;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u11737-bw
{
	z-index: 4;
	margin-top: 489px;
	height: 75px;
}

#u11761-5
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 65px;
}

#u11841-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 215px;
}

#u11838-5
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 215px;
}

#u11830-5
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 65px;
}

#u11831-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 345px;
	left: 166px;
}

#u11766-8
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
	left: 29px;
}

#u11767
{
	z-index: 36;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 15px;
}

#u11785
{
	z-index: 38;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 15px;
}

#u11788
{
	z-index: 40;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 115px;
}

#u11769
{
	z-index: 42;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 318px;
}

#u11832
{
	z-index: 44;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 318px;
}

#u11835
{
	z-index: 46;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 408px;
	left: 303px;
}

#u11843
{
	z-index: 49;
	height: 33px;
	width: 86px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 16px;
	background: url("../../images/u11843.png") no-repeat 0px 0px;
}

#u11843:hover
{
	background: url("../../images/u11843-r.png") no-repeat 0px 0px;
}

#u11843:active
{
	background: url("../../images/u11843-m.png") no-repeat 0px 0px;
}

#u11844
{
	z-index: 53;
	height: 33px;
	width: 73px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 153px;
	background: url("../../images/u11844.png") no-repeat 0px 0px;
}

#u11845
{
	z-index: 56;
	height: 33px;
	width: 108px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 135px;
	background: url("../../images/u11845.png") no-repeat 0px 0px;
}

#u11845:hover
{
	background: url("../../images/u11845-r.png") no-repeat 0px 0px;
}

#u11845:active
{
	background: url("../../images/u11845-m.png") no-repeat 0px 0px;
}

#u11846
{
	z-index: 60;
	height: 33px;
	width: 92px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 272px;
	background: url("../../images/u11846.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

