.version.service /* version checker */
{
	color: #000009;
	background-color: #AAEDB1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #F0F3F4;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9646815542372px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content,#paccordionu7905
{
	width: 0.01px;
}

#u7919
{
	z-index: 3;
}

#u7920-4
{
	z-index: 4;
	min-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7920-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7920-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7920-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7921
{
	z-index: 8;
	padding-bottom: 12px;
}

#u7922
{
	z-index: 9;
	width: 337px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 22px;
}

#u7926-4
{
	z-index: 10;
	width: 55px;
	min-height: 16px;
	margin-right: -10000px;
}

#u7926-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u7926-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u7923-4
{
	z-index: 14;
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	left: 100px;
}

#u7923-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7927-4
{
	z-index: 18;
	width: 35px;
	min-height: 16px;
	margin-right: -10000px;
	left: 201px;
}

#u7927-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u7924-4
{
	z-index: 22;
	width: 45px;
	min-height: 14px;
	margin-right: -10000px;
	left: 291px;
}

#u7924-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#accordionu7905,#accordionu7905-bw
{
	z-index: 2;
}

#u10359-4
{
	z-index: 35;
	width: 60px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#pu10481
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 1px;
}

#u10481
{
	z-index: 39;
	height: 563px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	background: #FFFFFF url("../../images/background.jpg") no-repeat center center;
	background-size: cover;
}

#u10481-bw
{
	z-index: 39;
	margin-bottom: -1px;
	height: 565px;
}

#u10485
{
	z-index: 40;
	width: 405px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
}

#pamphletu10487
{
	z-index: 42;
	width: 0.01px;
	height: 218px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 28px;
}

#u10490
{
	position: absolute;
	width: 346px;
}

#u10490popup
{
	z-index: 43;
}

#u10495
{
	z-index: 44;
	width: 291px;
	height: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	padding: 54px 28px 57px;
}

#u10496
{
	z-index: 49;
	width: 47px;
	background-color: transparent;
	margin-left: 119px;
	position: relative;
}

#u10498-4
{
	z-index: 45;
	width: 291px;
	min-height: 102px;
	background-color: transparent;
	color: #5C6971;
	font-size: 14px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#u10491
{
	z-index: 51;
	width: 300px;
	height: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	padding: 24px 23px;
}

#u10492
{
	z-index: 56;
	width: 47px;
	background-color: transparent;
	margin-left: 125px;
	position: relative;
}

#u10494-4
{
	z-index: 52;
	width: 300px;
	min-height: 94px;
	background-color: transparent;
	color: #5C6971;
	font-size: 14px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u10499
{
	z-index: 58;
	width: 300px;
	height: 131px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 54px 23px 67px;
}

#u10500
{
	z-index: 63;
	width: 47px;
	background-color: transparent;
	margin-left: 125px;
	position: relative;
}

#u10502-4
{
	z-index: 59;
	width: 300px;
	min-height: 74px;
	background-color: transparent;
	color: #5C6971;
	font-size: 14px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u10502-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 300px;
	margin: 10px 0px 0px;
}

#u10502-4:hover p
{
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u10503
{
	z-index: 65;
	width: 75px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 134px;
}

#u10506
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 2px;
	border-style: solid;
	border-color: #5C6971;
	background-color: transparent;
	border-radius: 14px;
}

#u10506:hover
{
	background-color: #4C565D;
	border-radius: 14px;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10506.PamphletThumbSelected
{
	border-color: #5C6971;
	background-color: #5C6971;
	border-radius: 10px;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10504
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 2px;
	border-style: solid;
	border-color: #5C6971;
	background-color: transparent;
	border-radius: 14px;
	left: 29px;
}

#u10504:hover
{
	background-color: #4C565D;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10504.PamphletThumbSelected
{
	border-color: #5C6971;
	background-color: #5C6971;
	border-radius: 14px;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10505
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 2px;
	border-style: solid;
	border-color: #5C6971;
	background-color: transparent;
	border-radius: 10px;
	left: 58px;
}

#u10505:hover
{
	background-color: #4C565D;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10505.PamphletThumbSelected
{
	border-color: #5C6971;
	background-color: #5C6971;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u10517
{
	z-index: 69;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 26px;
}

#u10519-4
{
	z-index: 70;
	width: 350px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 22px;
	letter-spacing: -1px;
	text-align: center;
	font-family: geostar, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10519-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 350px;
	margin: 0px -10000px 0px 0px;
}

#u10519-4:active p,#u10519-4:active h1
{
	color: #FFFFFF;
	visibility: inherit;
}

#u10518-5
{
	z-index: 74;
	width: 350px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 27px;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u10518-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u10518-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1;
}

#u10518
{
	font-size: 15px;
	letter-spacing: 11px;
}

#u10945-7
{
	z-index: 79;
	width: 351px;
	min-height: 101px;
	background-color: transparent;
	color: #5C6971;
	font-size: 11px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	left: 26px;
}

#u10945-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 101px;
	width: 351px;
	margin: 436px -10000px 0px 0px;
}

#u10945-7:hover p
{
	text-align: justify;
}

#pu7958
{
	width: 0.01px;
	margin-top: 1px;
}

#u7958
{
	z-index: 26;
	min-height: 36px;
	padding-bottom: 35px;
}

#u7960
{
	z-index: 31;
	width: 24px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 160px;
}

#u7962
{
	z-index: 33;
	width: 24px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 196px;
}

#u7960:hover,#u7962:hover
{
	width: 24px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u7958-bw
{
	z-index: 26;
	min-height: 36px;
}

#u7959-4
{
	z-index: 27;
	min-height: 17px;
}

#u7959-4-bw
{
	z-index: 27;
	min-height: 17px;
	margin-top: 45px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

