.version.work /* version checker */
{
	color: #0000F8;
	background-color: #DB47EE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #F0F3F4;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u7919
{
	z-index: 3;
}

#u7920-4
{
	z-index: 4;
	min-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7920-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7920-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7920-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u7921
{
	z-index: 8;
	padding-bottom: 12px;
}

#u7922
{
	z-index: 9;
	width: 337px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 22px;
}

#u7926-4
{
	z-index: 10;
	width: 55px;
	min-height: 16px;
	margin-right: -10000px;
}

#u7926-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u7926-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u7923-4
{
	z-index: 14;
	width: 47px;
	min-height: 14px;
	margin-right: -10000px;
	left: 100px;
}

#u7923-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u7927-4
{
	z-index: 18;
	width: 35px;
	min-height: 16px;
	margin-right: -10000px;
	left: 201px;
}

#u7927-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u7924-4
{
	z-index: 22;
	width: 45px;
	min-height: 14px;
	margin-right: -10000px;
	left: 291px;
}

#u7924-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#accordionu7905,#accordionu7905-bw
{
	z-index: 2;
}

#u10359-4
{
	z-index: 35;
	width: 60px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#slideshowu8187
{
	z-index: 39;
	width: 0.01px;
	height: 1111px;
	margin-left: 37px;
	margin-top: 17px;
	position: relative;
}

#u8188
{
	position: absolute;
	width: 377px;
	height: 325px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 120px;
	left: -34px;
	-pie-background: rgba(0,0,0,0.9);
}

#u8188popup
{
	z-index: 40;
}

#u10618
{
	z-index: 41;
	width: 333px;
	height: 263px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10627
{
	z-index: 43;
	width: 333px;
	height: 263px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10636
{
	z-index: 45;
	width: 333px;
	height: 263px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10618_img,#u10627_img,#u10636_img
{
	margin-left: -8px;
	margin-right: -9px;
}

#u10645
{
	z-index: 47;
	width: 333px;
	height: 263px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10645_img
{
	margin-left: -8px;
	margin-right: 79px;
}

#u10654
{
	z-index: 49;
	width: 333px;
	height: 263px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10618_clip,#u10627_clip,#u10636_clip,#u10645_clip,#u10654_clip
{
	overflow: hidden;
	width: 333px;
	height: 263px;
}

#u10654_img
{
	margin-left: -8px;
	margin-right: -9px;
	margin-bottom: -1px;
}

#u8222
{
	position: absolute;
	width: 310px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 21px;
}

#u8222:hover
{
	width: 310px;
	min-height: 0px;
	margin: 0px;
}

#u8222popup
{
	z-index: 51;
}

#u10621
{
	z-index: 52;
	width: 280px;
	height: 210px;
	-pie-box-shadow: none;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u10621:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
	width: 280px;
	height: 210px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10630
{
	z-index: 54;
	width: 280px;
	height: 210px;
	-pie-box-shadow: none;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 15px;
}

#u10630:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
	width: 280px;
	height: 210px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u10639
{
	z-index: 56;
	width: 280px;
	height: 210px;
	-pie-box-shadow: none;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
	left: 15px;
}

#u10639:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
	width: 280px;
	height: 210px;
	min-height: 0px;
	margin: 440px -10000px 0px 0px;
}

#u10648
{
	z-index: 58;
	width: 280px;
	height: 210px;
	-pie-box-shadow: none;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 660px;
	left: 15px;
}

#u10648:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
	width: 280px;
	height: 210px;
	min-height: 0px;
	margin: 660px -10000px 0px 0px;
}

#u10657
{
	z-index: 60;
	width: 210px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-right: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 880px;
	left: 15px;
}

#u10657 img.shadow
{
	-pie-box-shadow: 0px 2px 4px #7F7F7F;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

#u10657:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
	width: 210px;
	height: 210px;
	min-height: 0px;
	margin: 880px -10000px 0px 0px;
}

#u10621:hover img.shadow,#u10630:hover img.shadow,#u10639:hover img.shadow,#u10648:hover img.shadow,#u10657:hover img.shadow
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u8207-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 259px;
	left: -37px;
}

#u8207-4popup
{
	z-index: 62;
}

#u8209-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 259px;
	left: 315px;
}

#u8209-4popup
{
	z-index: 66;
}

#u8260
{
	position: absolute;
	width: 27px;
	border-width: 3px;
	border-style: solid;
	border-color: #5C6971;
	background-color: transparent;
	padding-bottom: 4px;
	top: 96px;
	left: 288px;
}

#u8260:hover
{
	border-color: #465A73;
	background-color: transparent;
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u8260:active
{
	border-color: #4C565D;
	background-color: #5C6971;
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u8261-4
{
	z-index: 71;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#page_position_content,#paccordionu7905,#pu7958
{
	width: 0.01px;
}

#u7958
{
	z-index: 26;
	min-height: 36px;
	padding-bottom: 35px;
}

#u7960
{
	z-index: 31;
	width: 24px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 160px;
}

#u7962
{
	z-index: 33;
	width: 24px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 196px;
}

#u7960:hover,#u7962:hover
{
	width: 24px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u7958-bw
{
	z-index: 26;
	min-height: 36px;
}

#u7959-4
{
	z-index: 27;
	min-height: 17px;
}

#u7959-4-bw
{
	z-index: 27;
	min-height: 17px;
	margin-top: 45px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

