.version.about_us /* version checker */
{
	color: #00000E;
	background-color: #CC41C6;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #F0F3F4;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.6970223313554px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content,#paccordionu8479
{
	width: 0.01px;
}

#u8480
{
	z-index: 3;
}

#u8481-4
{
	z-index: 4;
	min-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8481-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8481-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8481-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8482
{
	z-index: 8;
	padding-bottom: 17px;
}

#u8483
{
	z-index: 9;
	width: 509px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 130px;
}

#u8487-4
{
	z-index: 10;
	width: 83px;
	min-height: 16px;
	margin-right: -10000px;
}

#u8487-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u8487-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u8484-4
{
	z-index: 14;
	width: 71px;
	min-height: 14px;
	margin-right: -10000px;
	left: 150px;
}

#u8484-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u8486-4
{
	z-index: 18;
	width: 53px;
	min-height: 16px;
	margin-right: -10000px;
	left: 304px;
}

#u8486-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u8485-4
{
	z-index: 22;
	width: 68px;
	min-height: 14px;
	margin-right: -10000px;
	left: 440px;
}

#u8485-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#accordionu8479,#accordionu8479-bw
{
	z-index: 2;
}

#u10665-4
{
	z-index: 35;
	width: 79px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 20px;
}

#u10745
{
	z-index: 39;
	min-height: 136px;
	border-color: #000000;
	padding-bottom: 27px;
	background: #FFFFFF url("../../images/background.jpg") no-repeat center center;
	background-size: cover;
}

#u10742
{
	z-index: 115;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
}

#u10744-4
{
	z-index: 116;
	width: 768px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 40px;
	letter-spacing: -1px;
	text-align: center;
	font-family: geostar, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10743-5
{
	z-index: 120;
	width: 768px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 27px;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u10743-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u10743-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1;
}

#u10743
{
	font-size: 15px;
	letter-spacing: 11px;
}

#u10745-bw
{
	z-index: 39;
	min-height: 136px;
	margin-top: 1px;
}

#pu10697
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 79px;
}

#u10697
{
	z-index: 40;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u10707
{
	z-index: 62;
	width: 200px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
}

#u10706-4
{
	z-index: 49;
	width: 200px;
	min-height: 27px;
	background-color: transparent;
	line-height: 1;
	color: #4C565D;
	font-size: 25px;
	letter-spacing: 1px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-top: 18px;
	position: relative;
}

#u10704
{
	z-index: 64;
	width: 100px;
	height: 1px;
	border-color: #000000;
	background-color: #DCDFE0;
	margin-left: 50px;
	margin-top: 9px;
	position: relative;
}

#u10705-4
{
	z-index: 53;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	color: #5C6971;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u10699
{
	z-index: 57;
	width: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 73px;
	margin-top: 21px;
	position: relative;
}

#u10700
{
	z-index: 58;
	width: 23px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u10700_img
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u10702
{
	z-index: 60;
	width: 23px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u10702_img
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u10698-8
{
	z-index: 41;
	width: 200px;
	min-height: 159px;
	background-color: transparent;
	color: #5C6971;
	font-size: 13px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 28px;
	position: relative;
}

#u10721
{
	z-index: 90;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#u10723
{
	z-index: 112;
	width: 200px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
}

#u10723_img
{
	padding-bottom: 50px;
}

#u10731-4
{
	z-index: 99;
	width: 200px;
	min-height: 27px;
	background-color: transparent;
	line-height: 1;
	color: #4C565D;
	font-size: 25px;
	letter-spacing: 1px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-top: 18px;
	position: relative;
}

#u10722
{
	z-index: 114;
	width: 100px;
	height: 1px;
	border-color: #000000;
	background-color: #DCDFE0;
	margin-left: 50px;
	margin-top: 9px;
	position: relative;
}

#u10725-4
{
	z-index: 103;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	color: #5C6971;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u10726
{
	z-index: 107;
	width: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 73px;
	margin-top: 21px;
	position: relative;
}

#u10727
{
	z-index: 108;
	width: 23px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u10727_img
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u10729
{
	z-index: 110;
	width: 23px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u10729_img
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u10732-8
{
	z-index: 91;
	width: 200px;
	min-height: 159px;
	background-color: transparent;
	color: #5C6971;
	font-size: 13px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 28px;
	position: relative;
}

#u10709
{
	z-index: 65;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 528px;
}

#u10710
{
	z-index: 87;
	width: 200px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
}

#u10707 .clip_frame,#u10723 .clip_frame,#u10710 .clip_frame
{
	-webkit-border-radius: 100px 100px 100px 100px;
}

#u10710_img
{
	padding-bottom: 177px;
}

#u10715-4
{
	z-index: 74;
	width: 200px;
	min-height: 27px;
	background-color: transparent;
	line-height: 1;
	color: #4C565D;
	font-size: 25px;
	letter-spacing: 1px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-top: 18px;
	position: relative;
}

#u10714
{
	z-index: 89;
	width: 100px;
	height: 1px;
	border-color: #000000;
	background-color: #DCDFE0;
	margin-left: 50px;
	margin-top: 9px;
	position: relative;
}

#u10713-4
{
	z-index: 78;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	color: #5C6971;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u10716
{
	z-index: 82;
	width: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 73px;
	margin-top: 21px;
	position: relative;
}

#u10717
{
	z-index: 83;
	width: 23px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u10717_img
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u10719
{
	z-index: 85;
	width: 23px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u10700:hover,#u10702:hover,#u10727:hover,#u10729:hover,#u10717:hover,#u10719:hover
{
	background-color: transparent;
	width: 23px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10719_img
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u10700_img:hover,#u10702_img:hover,#u10727_img:hover,#u10729_img:hover,#u10717_img:hover,#u10719_img:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u10712-8
{
	z-index: 66;
	width: 200px;
	min-height: 159px;
	background-color: transparent;
	color: #5C6971;
	font-size: 13px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 28px;
	position: relative;
}

#u10698-8:hover,#u10732-8:hover,#u10712-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 159px;
	width: 200px;
	margin: 28px 0px 0px;
}

#u10698-8:hover p,#u10698-8:hover span,#u10732-8:hover p,#u10732-8:hover span,#u10712-8:hover p,#u10712-8:hover span
{
	text-align: center;
}

#u10698-2,#u10698-3,#u10698-4,#u10732-2,#u10732-3,#u10732-4,#u10712-2,#u10712-3,#u10712-4
{
	letter-spacing: 1px;
}

#u8505
{
	z-index: 26;
	min-height: 50px;
	padding: 39px 194px;
}

#pu8507
{
	width: 0.01px;
	margin-left: 160px;
	position: relative;
}

#u8507
{
	z-index: 31;
	width: 24px;
	margin-right: -10000px;
}

#u8509
{
	z-index: 33;
	width: 24px;
	margin-right: -10000px;
	left: 36px;
}

#u8507:hover,#u8509:hover
{
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8509_img
{
	padding-bottom: 6px;
}

#u8506-4
{
	z-index: 27;
	width: 380px;
	min-height: 17px;
	margin-top: 10px;
}

#u8505-bw
{
	z-index: 26;
	min-height: 50px;
	margin-top: 125px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

