.H1-Header,.H2-header
{
	font-family: cabin-n7, sans-serif;
}

.Logo,.menu-buttons
{
	font-family: comfortaa-n3, sans-serif;
}

.Paragraph,.page-headings
{
	font-family: cabin-n4, sans-serif;
}

#u8481-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8487-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8484-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8486-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8485-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10665-4
{
	font-family: geostar-n4, sans-serif;
}

#u8506-4
{
	font-family: lato-n4, sans-serif;
}

#u10927-4,#u10935-4,#u10933-4,#u10936-4,#u10931-4,#u10937-4,#u8764-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8763-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8759-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8760-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8778-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8779-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu8761_input,#widgetu8761_prompt,#widgetu8756_input,#widgetu8756_prompt,#widgetu8775_input,#widgetu8775_prompt
{
	font-family: pt-sans, sans-serif;
}

