.H1-Header,.H2-header
{
	font-family: cabin-n7, sans-serif;
}

.Logo,.menu-buttons
{
	font-family: comfortaa-n3, sans-serif;
}

.Paragraph,.page-headings
{
	font-family: cabin-n4, sans-serif;
}

#u8481-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8487-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8484-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8486-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8485-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10665-4
{
	font-family: geostar-n4, sans-serif;
}

#u8506-4
{
	font-family: lato-n4, sans-serif;
}

#u10744-4
{
	font-family: geostar-n4, sans-serif;
}

#u10743-5,#u10705-4,#u10698-8
{
	font-family: pt-sans-n4, sans-serif;
}

#u10725-4,#u10732-8
{
	font-family: pt-sans-n4, sans-serif;
}

#u10706-4,#u10731-4,#u10715-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u10713-4,#u10712-8
{
	font-family: pt-sans-n4, sans-serif;
}

