.H1-Header,.H2-header
{
	font-family: cabin-n7, sans-serif;
}

.Logo,.menu-buttons
{
	font-family: comfortaa-n3, sans-serif;
}

.Paragraph,.page-headings
{
	font-family: cabin-n4, sans-serif;
}

#u8481-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8487-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8484-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8486-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u8485-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u10665-4
{
	font-family: geostar-n4, sans-serif;
}

#u8506-4
{
	font-family: lato-n4, sans-serif;
}

#u10757-4
{
	font-family: geostar-n4, sans-serif;
}

#u10783-4:hover p
{
	font-family: lato-n4, sans-serif;
}

#u10756-5,#u10796-7,#u10798-7,#u10800-7,#u10797-7,#u10799-7,#u10801-7,#u10777-4,#u10773-4,#u10783-4
{
	font-family: pt-sans-n4, sans-serif;
}

