.version.index /* version checker */
{
	color: #000011;
	background-color: #17724E;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #F0F3F4;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.6970223313554px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	background: #FFFFFF url("../../images/background2.jpg") no-repeat center center;
	background-size: cover;
}

#page_position_content,#paccordionu8479
{
	width: 0.01px;
}

#u8480
{
	z-index: 3;
}

#u8481-4
{
	z-index: 4;
	min-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8481-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8481-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8481-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8482
{
	z-index: 8;
	padding-bottom: 17px;
}

#u8483
{
	z-index: 9;
	width: 509px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 130px;
}

#u8487-4
{
	z-index: 10;
	width: 83px;
	min-height: 16px;
	margin-right: -10000px;
}

#u8487-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u8487-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u8484-4
{
	z-index: 14;
	width: 71px;
	min-height: 14px;
	margin-right: -10000px;
	left: 150px;
}

#u8484-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u8486-4
{
	z-index: 18;
	width: 53px;
	min-height: 16px;
	margin-right: -10000px;
	left: 304px;
}

#u8486-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u8485-4
{
	z-index: 22;
	width: 68px;
	min-height: 14px;
	margin-right: -10000px;
	left: 440px;
}

#u8485-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#accordionu8479,#accordionu8479-bw
{
	z-index: 2;
}

#u10665-4
{
	z-index: 35;
	width: 79px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 20px;
}

#u10669
{
	z-index: 39;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 225px;
	margin-top: 362px;
	position: relative;
}

#u10673
{
	z-index: 40;
	width: 170px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 68px;
}

#u10670
{
	z-index: 41;
	width: 175px;
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 61px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u10671
{
	z-index: 42;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: -65px;
}

#u10672-4
{
	z-index: 43;
	width: 305px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 1;
	letter-spacing: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u10672-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u10672-4:active p
{
	letter-spacing: 14px;
}

#u10674
{
	z-index: 47;
	width: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
}

#u10675-4
{
	z-index: 48;
	width: 305px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 41px;
	color: #FFFFFF;
	line-height: 1;
	letter-spacing: 1px;
	font-family: geostar, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u10672-4:active,#u10675-4:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u10675-4:active
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u10675-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u8505
{
	z-index: 26;
	min-height: 50px;
	padding: 39px 194px;
}

#pu8507
{
	width: 0.01px;
	margin-left: 160px;
	position: relative;
}

#u8507
{
	z-index: 31;
	width: 24px;
	margin-right: -10000px;
}

#u8509
{
	z-index: 33;
	width: 24px;
	margin-right: -10000px;
	left: 36px;
}

#u8507:hover,#u8509:hover
{
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8509_img
{
	padding-bottom: 6px;
}

#u8506-4
{
	z-index: 27;
	width: 380px;
	min-height: 17px;
	margin-top: 10px;
}

#u8505-bw
{
	z-index: 26;
	min-height: 50px;
	margin-top: 338px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

