.version.service /* version checker */
{
	color: #0000F8;
	background-color: #F7BDFF;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #F0F3F4;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content,#paccordionu8479
{
	width: 0.01px;
}

#u8480
{
	z-index: 3;
}

#u8481-4
{
	z-index: 4;
	min-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8481-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8481-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8481-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8482
{
	z-index: 8;
	padding-bottom: 17px;
}

#u8483
{
	z-index: 9;
	width: 509px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 130px;
}

#u8487-4
{
	z-index: 10;
	width: 83px;
	min-height: 16px;
	margin-right: -10000px;
}

#u8487-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u8487-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u8484-4
{
	z-index: 14;
	width: 71px;
	min-height: 14px;
	margin-right: -10000px;
	left: 150px;
}

#u8484-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u8486-4
{
	z-index: 18;
	width: 53px;
	min-height: 16px;
	margin-right: -10000px;
	left: 304px;
}

#u8486-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u8485-4
{
	z-index: 22;
	width: 68px;
	min-height: 14px;
	margin-right: -10000px;
	left: 440px;
}

#u8485-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#accordionu8479,#accordionu8479-bw
{
	z-index: 2;
}

#u10665-4
{
	z-index: 35;
	width: 79px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 20px;
}

#pu10749
{
	width: 0.01px;
	margin-top: 1px;
}

#u10749
{
	z-index: 39;
	min-height: 898px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding: 36px 20px 39px 18px;
	background: #FFFFFF url("../../images/background2.jpg") no-repeat center center;
	background-size: cover;
}

#u10755
{
	z-index: 42;
	width: 728px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u10757-4
{
	z-index: 43;
	width: 728px;
	min-height: 49px;
	background-color: transparent;
	font-size: 40px;
	text-align: center;
	letter-spacing: -1px;
	color: #FFFFFF;
	font-family: geostar, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10757-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 728px;
	margin: 0px -10000px 0px 0px;
}

#u10757-4:active p,#u10757-4:active h1
{
	color: #FFFFFF;
	visibility: inherit;
}

#u10756-5
{
	z-index: 47;
	width: 728px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 1;
	text-align: center;
	font-size: 27px;
	letter-spacing: -1px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u10756-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u10756-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1;
}

#u10756
{
	font-size: 15px;
	letter-spacing: 11px;
}

#u10753
{
	z-index: 40;
	width: 484px;
	background-color: transparent;
	margin-left: 125px;
	margin-top: 13px;
	position: relative;
}

#u10803
{
	z-index: 134;
	width: 10px;
	height: 10px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	margin-left: 361px;
	margin-top: 7px;
	position: relative;
}

#ppu10758
{
	width: 0.01px;
	margin-top: 14px;
	position: relative;
}

#pu10758
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10758
{
	z-index: 52;
	width: 100px;
	background-color: transparent;
	position: relative;
}

#u10760
{
	z-index: 54;
	width: 100px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#u10762
{
	z-index: 56;
	width: 100px;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
}

#pu10796-7
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 130px;
}

#u10796-7
{
	z-index: 91;
	width: 202px;
	min-height: 102px;
	background-color: transparent;
	font-size: 11px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	position: relative;
}

#u10798-7
{
	z-index: 105;
	width: 202px;
	min-height: 102px;
	background-color: transparent;
	font-size: 11px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	margin-top: 26px;
	position: relative;
}

#u10800-7
{
	z-index: 119;
	width: 202px;
	min-height: 102px;
	background-color: transparent;
	font-size: 11px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	margin-top: 26px;
	position: relative;
}

#u10802
{
	z-index: 133;
	width: 1px;
	height: 371px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 366px;
}

#pu10797-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 405px;
}

#u10797-7
{
	z-index: 98;
	width: 199px;
	min-height: 102px;
	background-color: transparent;
	font-size: 11px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	position: relative;
}

#u10799-7
{
	z-index: 112;
	width: 199px;
	min-height: 102px;
	background-color: transparent;
	font-size: 11px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u10801-7
{
	z-index: 126;
	width: 199px;
	min-height: 102px;
	background-color: transparent;
	font-size: 11px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	margin-top: 27px;
	position: relative;
}

#u10796-2,#u10798-2,#u10800-2,#u10797-2,#u10799-2,#u10801-2
{
	letter-spacing: 1px;
	color: #FFFFFF;
	font-weight: 700;
}

#u10796-5,#u10798-5,#u10800-5,#u10797-5,#u10799-5,#u10801-5
{
	color: #5C6971;
	font-weight: 400;
}

#u10796-3,#u10798-3,#u10800-3,#u10797-3,#u10799-3,#u10801-3
{
	letter-spacing: 1px;
	color: #FFFFFF;
}

#pu10768
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 629px;
}

#u10768
{
	z-index: 62;
	width: 100px;
	background-color: transparent;
	position: relative;
}

#u10766
{
	z-index: 60;
	width: 100px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#u10764
{
	z-index: 58;
	width: 100px;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
}

#u10804
{
	z-index: 135;
	width: 10px;
	height: 10px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	margin-left: 361px;
	margin-top: 18px;
	position: relative;
}

#u10749-bw
{
	z-index: 39;
	min-height: 898px;
	margin-bottom: -1px;
}

#pamphletu10770
{
	z-index: 64;
	width: 0.01px;
	height: 218px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 214px;
}

#u10771
{
	position: absolute;
	width: 347px;
}

#u10771popup
{
	z-index: 65;
}

#u10776
{
	z-index: 66;
	width: 346px;
	height: 168px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 1px;
	padding-top: 37px;
	padding-bottom: 57px;
	position: relative;
	margin-right: -10000px;
}

#u10778
{
	z-index: 71;
	width: 47px;
	background-color: transparent;
	margin-left: 146px;
	position: relative;
}

#u10777-4
{
	z-index: 67;
	width: 346px;
	min-height: 102px;
	background-color: transparent;
	color: #5C6971;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u10772
{
	z-index: 73;
	width: 300px;
	height: 168px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	padding: 7px 23px 24px;
}

#u10774
{
	z-index: 78;
	width: 47px;
	background-color: transparent;
	margin-left: 125px;
	position: relative;
}

#u10773-4
{
	z-index: 74;
	width: 300px;
	min-height: 94px;
	background-color: transparent;
	color: #5C6971;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 28px;
	position: relative;
}

#u10780
{
	z-index: 80;
	width: 300px;
	height: 148px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 37px 23px 67px;
}

#u10781
{
	z-index: 85;
	width: 47px;
	background-color: transparent;
	margin-left: 125px;
	position: relative;
}

#u10783-4
{
	z-index: 81;
	width: 300px;
	min-height: 74px;
	background-color: transparent;
	color: #5C6971;
	text-align: center;
	font-size: 14px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 27px;
	position: relative;
}

#u10783-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 300px;
	margin: 27px 0px 0px;
}

#u10783-4:hover p
{
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u10784
{
	z-index: 87;
	width: 75px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 134px;
}

#u10785
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 2px;
	border-style: solid;
	border-color: #5C6971;
	background-color: transparent;
	border-radius: 14px;
}

#u10785:hover
{
	background-color: #4C565D;
	border-radius: 14px;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10785.PamphletThumbSelected
{
	border-color: #5C6971;
	background-color: #5C6971;
	border-radius: 10px;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10787
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 2px;
	border-style: solid;
	border-color: #5C6971;
	background-color: transparent;
	border-radius: 14px;
	left: 29px;
}

#u10787:hover
{
	background-color: #4C565D;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10787.PamphletThumbSelected
{
	border-color: #5C6971;
	background-color: #5C6971;
	border-radius: 14px;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10786
{
	position: absolute;
	width: 13px;
	height: 13px;
	border-width: 2px;
	border-style: solid;
	border-color: #5C6971;
	background-color: transparent;
	border-radius: 10px;
	left: 58px;
}

#u10786:hover
{
	background-color: #4C565D;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

#u10786.PamphletThumbSelected
{
	border-color: #5C6971;
	background-color: #5C6971;
	width: 13px;
	height: 13px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u8505
{
	z-index: 26;
	min-height: 50px;
	padding: 39px 194px;
}

#pu8507
{
	width: 0.01px;
	margin-left: 160px;
	position: relative;
}

#u8507
{
	z-index: 31;
	width: 24px;
	margin-right: -10000px;
}

#u8509
{
	z-index: 33;
	width: 24px;
	margin-right: -10000px;
	left: 36px;
}

#u8507:hover,#u8509:hover
{
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8509_img
{
	padding-bottom: 6px;
}

#u8506-4
{
	z-index: 27;
	width: 380px;
	min-height: 17px;
	margin-top: 10px;
}

#u8505-bw
{
	z-index: 26;
	min-height: 50px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

