.version.work /* version checker */
{
	color: #0000F8;
	background-color: #1F6568;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #F0F3F4;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content,#paccordionu8479
{
	width: 0.01px;
}

#u8480
{
	z-index: 3;
}

#u8481-4
{
	z-index: 4;
	min-height: 25px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8481-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8481-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8481-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 25px;
	margin: 0px;
}

#u8482
{
	z-index: 8;
	padding-bottom: 17px;
}

#u8483
{
	z-index: 9;
	width: 509px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 130px;
}

#u8487-4
{
	z-index: 10;
	width: 83px;
	min-height: 16px;
	margin-right: -10000px;
}

#u8487-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u8487-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u8484-4
{
	z-index: 14;
	width: 71px;
	min-height: 14px;
	margin-right: -10000px;
	left: 150px;
}

#u8484-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u8486-4
{
	z-index: 18;
	width: 53px;
	min-height: 16px;
	margin-right: -10000px;
	left: 304px;
}

#u8486-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u8485-4
{
	z-index: 22;
	width: 68px;
	min-height: 14px;
	margin-right: -10000px;
	left: 440px;
}

#u8485-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#accordionu8479,#accordionu8479-bw
{
	z-index: 2;
}

#u10665-4
{
	z-index: 35;
	width: 79px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 20px;
}

#u10817
{
	z-index: 87;
	width: 907px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -70px;
	margin-top: 50px;
	position: relative;
}

#u10820
{
	z-index: 88;
	width: 907px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10821-4
{
	z-index: 89;
	width: 907px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #5C6971;
	line-height: 1;
	text-align: center;
	font-size: 26px;
	letter-spacing: -1px;
	font-family: geostar, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u10818
{
	z-index: 93;
	width: 294px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #5C6971;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 70px;
}

#u10819
{
	z-index: 94;
	width: 296px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #5C6971;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 541px;
}

#slideshowu8658
{
	z-index: 39;
	width: 0.01px;
	height: 922px;
	left: -1px;
	margin-top: 35px;
	position: relative;
}

#u8695
{
	position: absolute;
	width: 644px;
	height: 512px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 76px;
	left: 63px;
	-pie-background: rgba(0,0,0,0.9);
}

#u8695popup
{
	z-index: 40;
}

#u8710
{
	z-index: 41;
	width: 600px;
	height: 450px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10842
{
	z-index: 43;
	width: 600px;
	height: 450px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10851
{
	z-index: 45;
	width: 600px;
	height: 450px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10860
{
	z-index: 47;
	width: 600px;
	height: 450px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10869
{
	z-index: 49;
	width: 600px;
	height: 450px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10878
{
	z-index: 51;
	width: 600px;
	height: 450px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10878_img
{
	padding-right: 150px;
}

#u10887
{
	z-index: 53;
	width: 600px;
	height: 450px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8712
{
	z-index: 55;
	width: 600px;
	height: 450px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8660
{
	position: absolute;
	width: 768px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 52px;
}

#u8660:hover
{
	width: 768px;
	min-height: 0px;
	margin: 0px;
}

#u8660popup
{
	z-index: 57;
}

#u8671
{
	z-index: 58;
	width: 280px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 99px;
}

#u10845
{
	z-index: 60;
	width: 280px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u8671:hover,#u10845:hover
{
	width: 280px;
	height: 210px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10854
{
	z-index: 62;
	width: 280px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 99px;
}

#u10863
{
	z-index: 64;
	width: 280px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 389px;
}

#u10854:hover,#u10863:hover
{
	width: 280px;
	height: 210px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u10872
{
	z-index: 66;
	width: 280px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
	left: 99px;
}

#u10881
{
	z-index: 68;
	width: 280px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
	left: 389px;
}

#u10872:hover,#u10881:hover
{
	width: 280px;
	height: 210px;
	min-height: 0px;
	margin: 440px -10000px 0px 0px;
}

#u10881_img
{
	padding-right: 70px;
}

#u10890
{
	z-index: 70;
	width: 280px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 660px;
	left: 99px;
}

#u8673
{
	z-index: 72;
	width: 280px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 660px;
	left: 389px;
}

#u10890:hover,#u8673:hover
{
	width: 280px;
	height: 210px;
	min-height: 0px;
	margin: 660px -10000px 0px 0px;
}

#u8659-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 321px;
	left: 54px;
}

#u8659-4popup
{
	z-index: 74;
}

#u8691-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 321px;
	left: 685px;
}

#u8691-4popup
{
	z-index: 78;
}

#u8692
{
	position: absolute;
	width: 27px;
	border-width: 3px;
	border-style: solid;
	border-color: #4C565D;
	background-color: transparent;
	padding-bottom: 4px;
	top: 45px;
	left: 654px;
}

#u8692:hover
{
	border-color: #465A73;
	background-color: transparent;
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u8692:active
{
	border-color: #465A73;
	background-color: #5C6971;
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u8693-4
{
	z-index: 83;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading2.gif") no-repeat center center;
}

#u8505
{
	z-index: 26;
	min-height: 50px;
	padding: 39px 194px;
}

#pu8507
{
	width: 0.01px;
	margin-left: 160px;
	position: relative;
}

#u8507
{
	z-index: 31;
	width: 24px;
	margin-right: -10000px;
}

#u8509
{
	z-index: 33;
	width: 24px;
	margin-right: -10000px;
	left: 36px;
}

#u8507:hover,#u8509:hover
{
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8509_img
{
	padding-bottom: 6px;
}

#u8506-4
{
	z-index: 27;
	width: 380px;
	min-height: 17px;
	margin-top: 10px;
}

#u8505-bw
{
	z-index: 26;
	min-height: 50px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

